/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* CSS Reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: .3s;
  color: #333;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Header CSS  */
.header-area {
	padding: 30px 0px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
}
.menu ul {
  display: flex;
  column-gap: 20px;
}
.menu ul li a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.menu ul li a:hover {
  color: tomato;
}

/* Hero Area CSS  */

.hero-image {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 10px;
}
.hero-image img {
  height: 550px;
  width: 100%;
}

/* About Area CSS  */

.about-area {
	padding: 80px 0px;
}

.title {
	text-align: center;
	margin-bottom: 20px;
}
.title h2 {
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.title p {
  letter-spacing: 1.2px;
}
.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  text-align: center;
}
.single-about {
  flex-basis: 30%;
  border-bottom: 1px solid #ddd;
  padding: 40px 20px;
  border-radius: 10px;
  transition: 0.3s;
}


.single-about h2 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 10px;
}
.single-about p {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
}

.single-about:hover {
  border-color: tomato;
}
.single-about i {
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

/* Service Area CSS  */


.service-area {
  background-color: #f2f2f2;
  padding: 40px 0px;
}
.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.single-service {
	flex-basis: 32%;
	background-color: white;
	padding: 20px;
}

.single-service h2 {
	background-color: teal;
	color: white;
	text-align: center;
	margin-bottom: 20px;
	padding: 20px 0px;
}

.single-service p {
	margin: 20px 0px;
	line-height: 30px;
	font-size: 16px;
	font-weight: 300;
}


.single-service a {
  display: inline-block;
  background-color: tomato;
  padding: 10px 30px;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}
.single-service a:hover {
  background-color: teal;
}

/* Gallery Area CSS  */
.gallery-area {
	padding: 80px 0px;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	row-gap: 15px;
}
.single-gallery {
  flex-basis: 24%;
  border: 1px solid #ddd;
  padding: 3px;
  border-radius: 10px;
}

/* Contact Area CSS  */


.contact-area {
  padding: 80px 0px;
  background-color: #f2f2f2;
}
.contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 40px;
}

.contact-form {
  flex-basis: 68%;
}
.contact-address {
  flex-basis: 27%;
}

.contact-form input, textarea {
	width: 100%;
	padding: 10px 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	margin-bottom: 20px;
}

.contact-form textarea {
	height: 150px;
}

.contact-form input[type="submit"] {
	background-color: tomato;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
  transition: 0.3s;
}

.contact-form input[type="submit"]:hover {
  background-color: teal;
}

.single-contact {
	display: flex;
	margin-bottom: 30px;
}

.single-contact i {
	background-color: tomato;
	width: 40px;
	height: 40px;
	text-align: ;
	text-align: center;
	line-height: 40px;
	color: #fff;
	border-radius: 50%;
  margin-right: 20px;
}

.single-contact span {
	display: block;
	font-weight: 300;
}

/* Footer Area CSS  */
.footer-area {
  background-color: teal;
}
.footer-text {
	color: #fff;
	text-align: center;
	padding: 20px 0px;
}